body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
}

.cabecera {
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.logo{
    width: 300px;
    height: 110px;
}