* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: violet;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 0;
}

.cabecera {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.navegacion {
    background-color: slateblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin-top: 0;
    padding: 15px;
    list-style: none;
}

.navegacion  a {
    color: white;
    list-style-type: none;
    text-decoration: none;

}

.tienda {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px ;
    margin: auto;
    padding: 15px;
    max-width: 5000x;
    
}

.papu-productos {
    border-radius: 10px;
    border: 1px solid red;
    background-color: darkgoldenrod;
    padding: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 95%;
    transition: transform 2s ease, box-shadow 2s ease;
}

.papu-productos:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.imagen-productos {
    max-width:50%;
    max-height: 50%;
}

.titulo-articulo {
    display: flex;
    text-align: center;
}

.precio-articulo {
    display: flex;
    text-align: center;
}

.pie {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.pie p {
    color: white;
}